body {
  background-color: #fdf4ed;
  font-family: sans-serif;
  height:1080px;
  width:100%
}

.footer {
  background-color: #395d38;
  position: fixed; bottom: 0;
  padding: 7px;
  width: 100%;
  color: #c2bab3;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  object-fit: cover;
  width: auto;
}


p {
  justify-content: flex-end;
}

/* FONT FOR FOOTER */
/* @font-face {
font-family: "Mosk";
src: url("css/fonts/mosk_normal_400.eot");
src:
url("css/fonts/mosk_normal_400-webfont.woff") format("woff"),
url("css/fonts/mosk_normal_400.otf") format("opentype"),

/*
Alternative greens
005d16
3A5F0B*/
